<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Based Cybersecurity Threat Detection</title>
    <link rel="stylesheet" href="/static/home-styles.css">
</head>

<body>
    <header>
        <nav>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/phishing">Phishing Detection</a>
            <a class="nav-link" href="/malware">Malware Detection</a>
            <a class="nav-link" href="/intrusion">Intrusion Detection</a>
        </nav>
    </header>
    <main>
        <h1>AI-Based Cybersecurity Threat Detection</h1>
        <div class="card-container">
            <div class="card">
                <h2>Phishing Detection</h2>
                <p style="margin-top: 1em; margin-bottom: 1.8em;">Check for phishing attacks on URLs.</p>
                <a href="/phishing" class="button">Go to Phishing Detection</a>
            </div>
            <div class="card">
                <h2>Malware Detection</h2>
                <p>Upload an Excel file to check for malware.</p>
                <a href="/malware" class="button">Go to Malware Detection</a>
            </div>
            <div class="card">
                <h2>Intrusion Detection</h2>
                <p>Upload an Excel file to detect intrusions.</p>
                <a href="/intrusion" class="button">Go to Intrusion Detection</a>
            </div>
        </div>
    </main>
</body>

</html>