<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing Detection</title>
    <link rel="stylesheet" href="/static/intrusion-styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>
</head>

<body>
    <header>
        <nav>
            <a href="/" class="nav-link">Home</a>
            <a href="/phishing" class="nav-link">Phishing Detection</a>
            <a href="/malware" class="nav-link">Malware Detection</a>
            <a href="/intrusion" class="nav-link">Intrusion Detection</a>
        </nav>
    </header>
    <div class="container">
        <h1>Intrusion Detection</h1>
        <form id='intrusion-form'>
            <label for="file">Upload an excel file consisting of 1 record and 78 features:</label>
            <div class="choose-file">
                <input type="file" id="file" name="file" accept=".xlsx" required>
                <button type="submit">Upload and Check</button>
            </div>
        </form>
        <div id="result">
        </div>
    </div>

    <script src="./../static/controllers/intrusionController.js"></script>
</body>

</html>